/* dashboard.css */
.task-input {
    flex-grow: 1;
}

.task-panel {
    height: 676px;
}

#image-user {
    transition: all 0.3s ease-in-out;
}

.task-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    overflow-y: auto;
    height: 560px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.task-list::-webkit-scrollbar {
    display: none;
}

.task-item {
    background-color: white;
    color: #333;
    padding: 18px 15px;
    border-radius: 6px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.delete-btn {
    background: none;
    border: none;
    color: #555; 
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    transition: color 0.2s;
    display: flex;
    align-items: center;
}

.delete-btn:hover {
    color: #e74c3c; 
}

.task-left {
    display: flex;
    align-items: center; /* ⭐ จัดกลางแกน Y */
    gap: px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.task-name.completed {
    text-decoration: line-through;
    color: #aebbdb;
}

.xp-amount {
    color: #27ae60; 
}

.xp-display {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 800;
}

.xp-icon.easy {
    color: #2ecc71;
}

.xp-icon.medium {
    color: #e67e22;
}

.xp-icon.hard {
    color: #e74c3c;
}