body{
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a3a7b; 
    padding: 15px 40px;
    color: white;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links a {
    color: #aebbdb;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a:hover, .nav-links a.active {
    color: white;
}