body {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    background-color: #ffffff;
    padding-top: 80px;
}

/* ===== NAVBAR ===== */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a3a7b;
    padding: 0 80px;
    color: white;
    z-index: 1000;
}

/* LOGO */
.logo h1 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo .menubar {
    display: none;
    cursor: pointer;
}

/* ===== LINKS ===== */
.nav-links {
    display: flex;
    gap: 36px;
    align-items: center;
}

.nav-links a {
    color: #aebbdb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    transition: color 0.25s;
}

/* Hover + Active */
.nav-links a:hover,
.nav-links a.active {
    color: #ffffff;
}

/* Active underline */
.nav-links a.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
}

/* Logout */
.logout-btn {
    font-size: 22px;
}

/* ===== MOBILE ===== */
@media (max-width: 810px) {

    body {
        padding-top: 110px;
    }

    .navbar {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .logo {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .logo h1 {
        font-size: 26px;
    }

    .logo .menubar {
        display: block;
        font-size: 20px;
        padding-right: 10px;
    }

    .nav-links {
        width: 100%;
        display: none; /* เปิดด้วย JS */
        flex-direction: column;
    }

    .nav-links a {
        font-size: 22px;
        padding: 12px 30px;
    }

    .nav-links a span {
        display: none;
    }

    /* Active แบบ mobile */
    .nav-links a.active {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 10px;
    }

    .nav-links a.active::after {
        display: none;
    }
}

/* ===== SMALL MOBILE ===== */
@media (max-width: 480px) {
    .logo h1 {
        font-size: 20px;
    }

    .nav-links a {
        font-size: 20px;
        padding-left: 20px;
    }
    
    .achievements{
        margin-bottom: 0;
    }
}