header {
    position: fixed;
    width: 100%;
    background-color: #222121;
    font-weight: 800;
}

div.branding{
    padding: 2rem 3rem .5rem 4rem;
    display: flex;
    justify-content: space-between;
}

header div.branding a {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

header nav {
    padding: 0rem 2rem 1rem 0;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
}

header nav ul li {
    padding: .25rem 2rem;
}

header nav ul li a {
    color: rgb(228, 228, 228);
    text-decoration: none;
    padding: 12px 30px;
}

main {
    padding-top: 7.5rem;
}